@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

main header, aside > header {
  height: var(--header-size);
}
.markdown :is(b, strong) {
  color: var(--chakra-colors-gray-fg);
  font-weight: 600;
}
h1 {
  text-align: center;
}
*:is(h1,h2,h3,h4,h5,h6) {
  font-family: "Science Gothic", sans-serif;
  font-weight: 400;
}

aside {
  transition: .2s all;
  height: 100%;
  width: var(--aside-size);
  background-color: var(--aside-bg);
}
aside .nav-button.active {
  background-color: var(--chakra-colors-color-palette-200);
  color: var(--chakra-colors-color-palette-900);
  font-weight: 500;
}