html, body, #root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.app-nav {
  position: fixed;
  backdrop-filter: blur(.5rem);
  background-color: var(--chakra-colors-black-alpha-500);
  top: 0;
  z-index: 10;
  width: 100%;
}

header {
  width: 100%;
  position: relative;
  background-image: url("/assets/img/header-bg.png");
  background-size: cover;
  background-position: center;
}
header img {
    height: 6em;
}

header::before {
  height: 100%;
  width: 100%;
  top: 0;
  content: "";
  position: absolute;
  background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.9), var(--chakra-colors-bg));
}

section, footer {
  padding-block: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}